* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f1f5f8;
  color: #112a42;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.counter {
  text-align: center;
}
.counter .counter__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.counter .counter__value {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.counter__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.counter__buttons .counter__button {
  padding: 0.5rem 1rem;
  border: 1px solid #112a42;
  border-radius: 2rem;
  background-color: #f1f5f8;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.counter__buttons .counter__button:hover {
  background-color: #112a42;
  color: #f1f5f8;
}

@media screen and (max-width: 450px) {
  .counter .counter__title {
    font-size: 2rem;
  }
  .counter .counter__value {
    font-size: 3rem;
  }
  .counter__buttons .counter__button {
    font-size: 1rem;
  }
}

/* Path: counter.js */
